body{
    background: rgb(5, 99, 240);
    color: white;
    margin: 0px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

section{
    background: rgb(146, 22, 255);
    padding-bottom: 80px;
    padding-top: 80px;
}