body{
    background: rgb(5, 99, 240);
    color: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

section{
    background: rgb(146, 22, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5% ;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
}